{% extends 'main.html' %}

{% block body %}


<div class="container">
    <div class="row mt-3">

        <div class="col-md-6">
        {% comment %} {% endcomment %}

            <div class="photo" width="18rem" >
                <img class="card-img-top" src="{{movie.img.url}}" width="300" height="300" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6"> 
            <div class="details" >
                  <h5 class="title">{{movie.name}}</h5>
                  <p class="text">{{movie.desc}}</p>
                  <a href="{% url 'mv_app:update' movie.id %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'mv_app:delete' movie.id %}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    

        

    </div>
</div>


{% endblock  %}