{% extends 'main.html' %}

{% block body %}
<div class="container">
    <div class="row">
        {% for i in mv_list %}
        <div class="col-md-3">
    
        <div class="card mt-4" width="18rem" >
            <img class="card-img-top" src="{{i.img.url}}" width="268" height="180" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">{{i.desc}}</p>
              <a href="{% url 'mv_app:details' i.id %}" class="btn btn-primary">Open</a>
            </div>
          </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}


Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Enim perspiciatis quaerat vitae,
cum non laborum? Nulla perferendis inventore voluptas est excepturi!
Provident recusandae iure esse quo accusamus sapiente eveniet nam.
        
        
      
       